.components-util-pannel {
  .bs-callout-warning{
    border-left-color:#aa6708
  }
  .bs-callout {
    padding: 6px 15px;
    //margin: 20px 10px;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 5px;
    border-left-color: #f50;
    line-height: 2;
    //background: #F7F7F7;
  }

}
