@import "base";

.cluster {

  .ant-table-row {
    cursor: pointer;
  }

  .cluster-detail {
    .header {
      border-radius: 5px;
      height: auto;
      //height: 38px;
      //margin-bottom: 10px;
      //background: #f6a69a;
      padding: 10px;
      color: black;
      //fontSize: '12px';
      background: #F7F7F7;
      .cluster-title {
        font-size: 18px;
        padding-right: 15px;
        font-weight: bold;
      }
      .span-label {
        position: relative;
        top: -3px;
      }
      .button{
        margin:0 6px
      }


    }
    .cluster-desc {
      height: 20px;
      .cluster-description {
        float: left
      }
      .show-more-button {
        float: right;
      }
    }
    .cluster-dash-board{
      .ant-card-body{
        padding:12px;
      }
    }
  }
  .cluster-list{
    .button {
      margin: 0 5px
    }

  }
  .cluster-node-list{
    .button {
      margin: 0 5px
    }

  }
}

//.ant-modal-close-x:before{
//  color:#fff;
//}
//.ant-modal-header {
//  @include danger-modal-header;
//}