@import "base";
.cluster {

  .ant-table-row {
    cursor: pointer;
  }
  .actions {

    .button {
      padding: 2px 10px;
      margin: 0 5px;
      //color:darken(lightcoral,20%);
      //font-weight: bold;
    }
    .buttonDisabled {
      margin: 10px;
    }
  }

}

//.ant-modal-close-x:before{
//  color:#fff;
//}
//.ant-modal-header {
//  @include danger-modal-header;
//}