
.fileExplorer {
  .row {
    cursor: pointer;
  }
  .ant-table-tbody {
    cursor: pointer;
  }

}

.canClick {
  cursor: pointer;
  .root {
    margin: 3px;
  }
  //margin: 2px;
}

.navigate-header {
  height: 40px;
  margin-bottom: 10px;
  background: #f6a69a;
  padding: 10px;
  color: white;
  fontSize: '12px';
  .fileName {
    font-weight: bold
  }
}